@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>程序请求发生了一个内部错误</h3>

<h5></h5>

<h3>错误详情：</h3>

<div class="alert alert-danger">
    <h5>异常路径：</h5>
    <br />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>异常信息：</h5>
    <hr />
    @ViewBag.ExceptionMessage
</div>

<div class="alert alert-warning">
    <h5>异常堆栈：</h5>
    <hr />
    @ViewBag.StackTrace
</div>